.demo{
            background-color: aqua;
            height: 300px;

            text-align: center;
        }

        .text-center{
            text-align: center;
        }

        @media(max-width:400px)
        {
            .demo{
                background-color: red;
            }
        }
    